html {
  --main-color: #9cff7a;
}

a {
  color: var(--main-color);
}

#topbar {
  height: 50px;
  width: 100%;
  background-color: var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
}
#topbar-text {
   line-height: 50px;
   color: white;
}

